beautifulsoup4
folium
fuzzywuzzy
mapbox
mysql_connector_repackaged
mysql-connector-python
numpy
pandas
geopandas
pdfcrowd
price_parser
plotly
requests
shapely
SQLAlchemy
streamlit
streamlit_folium
xgboost
scikit-learn
unidecode 
openpyxl
streamlit_aggrid